/* sass-plugin-0:/home/vesa/Documents/upwork/custom-data-table-component/src/_catalog.scss */
.catalog-container {
  display: grid;
  grid-template-rows: min-content min-content min-content;
  gap: 10px;
}
.catalog {
  user-select: none;
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-family: monospace;
}
.catalog .catalog__entry {
  padding-right: 25px;
  position: relative;
  display: grid;
  grid-template-columns: minmax(250px, 1fr) 3fr;
  border: 1px solid transparent;
}
.catalog .catalog__entry .new-entry-form {
  grid-column: 1/span 2;
}
.catalog .catalog__entry.catalog__entry--removed .catalog__entry__key__content,
.catalog .catalog__entry.catalog__entry--removed .catalog__entry__value__content {
  text-decoration: line-through;
  color: gray;
}
.catalog .catalog__add-entry,
.catalog .catalog__convert-to-sublist,
.catalog .catalog__remove-entry {
  align-items: center;
  border-radius: 2px;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  font-size: 18px;
  font-style: normal;
  font-weight: normal;
  height: 25px;
  justify-content: center;
  width: 25px;
}
.catalog .catalog__add-entry {
  color: green;
}
.catalog .catalog__add-entry:hover {
  color: white;
  background-color: green;
}
.catalog .catalog__add-entry--active {
  border: 2px solid green;
}
.catalog .catalog__remove-entry {
  color: red;
}
.catalog .catalog__remove-entry:hover {
  color: white;
  background-color: red;
}
.catalog .catalog__convert-to-sublist {
  color: blue;
}
.catalog .catalog__convert-to-sublist:hover {
  color: white;
  background-color: blue;
}
.catalog .catalog__entry--sublist .catalog__entry__key {
  grid-column: 1/span 2;
}
.catalog .catalog__entry--hilite-before {
  border-top-color: gray;
}
.catalog .catalog__entry--hilite-after {
  border-bottom-color: gray;
}
.catalog .catalog__entry__edit {
  white-space: nowrap;
  padding: 0 10px;
  font-style: normal;
  font-weight: normal;
  color: blue;
  cursor: pointer;
}
.catalog .catalog__entry__key,
.catalog .catalog__entry__value {
  height: 60px;
  display: flex;
  align-items: center;
}
.catalog .catalog__entry__key input[data-editable=true],
.catalog .catalog__entry__value input[data-editable=true] {
  outline: none;
  width: 100%;
  font-style: inherit;
  font-size: inherit;
  font-family: inherit;
}
.catalog .catalog__entry__key {
  display: grid;
  font-style: italic;
  gap: 10px;
  grid-template-columns: 20px 20px auto auto auto;
  justify-content: flex-start;
  justify-items: center;
}
.catalog .catalog__entry__key__content {
  cursor: pointer;
  grid-column: 3;
  padding: 5px;
  box-sizing: border-box;
}
.catalog .catalog__entry__value__content {
  cursor: pointer;
  box-sizing: border-box;
  padding: 5px;
}
.catalog .catalog__entry__key--title {
  font-weight: bold;
  font-style: normal;
}
.catalog .catalog__expand-button {
  cursor: pointer;
  padding: 5px;
  grid-column: 2;
}
.catalog .catalog__drag-companion {
  background: white;
  box-shadow: 0px 0px 5px #e2eef9;
  padding: 15px 25px;
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
}
.catalog__entry--blue {
  background-color: #e2eef9;
}
.catalog__entry--gray {
  background-color: #f6f6f6;
}
.catalog__entry--dragging {
  opacity: 0.6;
  box-shadow: 0px 0px 1px black;
  z-index: 10;
}
.drag-handle {
  width: 20px;
  text-align: center;
  cursor: pointer;
  font-weight: bold;
  font-style: normal;
  letter-spacing: -8px;
}
.insert-order-util {
  position: absolute;
  height: 50%;
  width: 100%;
  left: 0;
}
.insert-order-util--before {
  top: 0;
}
.insert-order-util--after {
  bottom: 0;
}
.new-entry-form {
  font-family: monospace;
  gap: 10px;
  padding-right: 35px;
  padding-bottom: 15px;
  display: grid;
  grid-template-areas: "entryType entryType" "key value" "buttons buttons";
}
.new-entry-form .new-entry-form__type__option {
  padding: 5px;
  color: blue;
}
.new-entry-form .new-entry-form__type__option:hover {
  text-decoration: underline;
}
.new-entry-form .new-entry-form__type__option--selected {
  color: white;
  background-color: blue;
}
.new-entry-form .new-entry-form__type {
  align-items: center;
  cursor: pointer;
  display: grid;
  gap: 20px;
  grid-area: entryType;
  grid-template-columns: auto auto auto;
  justify-content: flex-start;
}
.new-entry-form .new-entry-form__key {
  padding: 5px;
  outline: none;
  font-size: inherit;
  font-family: inherit;
  grid-area: key;
}
.new-entry-form .new-entry-form__value {
  padding: 5px;
  outline: none;
  font-size: inherit;
  font-family: inherit;
  grid-area: value;
}
.new-entry-form .new-entry-form__buttons {
  grid-area: buttons;
  display: grid;
  gap: 10px;
  justify-content: flex-start;
  grid-auto-flow: column;
}
.new-entry-form .new-entry-form__ok {
  padding: 5px;
  cursor: pointer;
  text-align: center;
  color: blue;
}
.new-entry-form .new-entry-form__ok:hover {
  text-decoration: underline;
}
.new-entry-form .new-entry-form__cancel {
  padding: 5px;
  cursor: pointer;
  text-align: center;
  color: blue;
}
.new-entry-form .new-entry-form__cancel:hover {
  text-decoration: underline;
}
.new-entry-form__type__description {
  font-weight: bold;
}
.catalog-buttons {
  display: grid;
  gap: 10px;
  grid-auto-flow: column;
  justify-content: flex-start;
}
.catalog-buttons button {
  outline: none;
  cursor: pointer;
  padding: 5px 15px;
  border: none;
  border: 2px solid blue;
  background: transparent;
  color: blue;
}
.catalog-buttons button:hover {
  color: white;
  background-color: blue;
}
