/*
Naming conventions:
  - PascalCase (e.g., DataTable) for classes that correspond to same-named React components
  - "_" (underscore) denotes a part of a larger element, e.g, "Entry_key" is a "key" element inside an "Entry"
  - "-" (dash) is a subclass or modifier, e.g., "cell-key" is a special type of "cell" that displays a key
  - use-* prefix for utilities
  - is-* prefix for state indicators
*/


/*** GENERAL STYLES */

/*html {
    font-family: 'Quattrocento Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    color: #333;
}*/

* {
    box-sizing: border-box;
}
body {
    /*font-family: 'Quattrocento Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;*/
    font-family: 'Lato', sans-serif;
    width: 1120px;
    margin: 0 auto;
    padding-bottom: 50px;
    line-height: 1.5;
    color: #333a40;
}

h1, h2, h3      { font-family: 'Raleway', sans-serif; font-weight: normal; margin-top: 1.4rem; margin-bottom: 0.6em; }
h1              { font-size: 2.5rem; }
h2              { font-size: 1.4rem; text-transform: uppercase; }
h2:first-letter { font-size: 1.8rem; }
h3              { font-size: 1.1rem; text-transform: uppercase; } /*font-weight: bold; }*/

a           { color: #006ecc }
a:visited   { color: #00427a }

pre         { display: block; margin: 0; overflow: auto; }      /* copied from Bootstrap's _reboot.scss */

/*** SITEWIDE */

.btn { border: none; border-radius: 0; }
.btn-primary, .btn-primary.disabled, .btn-primary:disabled       { background-color: #5b8fdd; }
.btn-primary:hover                                               { background-color: #4b78bb; }
.btn-secondary, .btn-secondary.disabled, .btn-secondary:disabled { background-color: #7e8993; }


/*** WIDGETS */

/*
Box model of a catalog of item properties (OUT OF DATE):

    hw-item-properties
        table .catalog1
            tr .is-rowX                              // X = 1 or 2
                // field with an atomic value:
                th .ct-field
                td .ct-value
            tr .is-rowX
                // field with a catalog of sub-fields:
                td .ct-nested colspan=2
                    div .ct-field
                    div .wrap-offset : table .catalog2
                        tr .is-rowX
                            th .ct-field
                            td .ct-value
*/
