/* @postcss */


.TEXT {
    .editor {
        min-height: 2em;
        height: 10em;
        width: 100%;
        outline: none;
        resize: vertical;
    }

    /*
    .use-scroll {
        overflow: auto;     // scroll
        max-height: 12rem;
        border-bottom: 1px solid rgba(0,0,0,0.1);
        border-right:  1px solid rgba(0,0,0,0.1);
        resize: vertical;
    }
    .use-scroll[style*="height"] {
        max-height: unset;              // this allows manual resizing (resize:vertical) to exceed predefined max-height
    }*/
}

.CODE {
    .ace-viewer, .ace-editor {
        font-size: 1em;
        min-height: 3em;
        line-height: 1.3;
        resize: vertical;        /* editor box resizing requires editor.resize() to be invoked by ResizeObserver */
    }
    .ace-viewer {
        background-color: rgba(255,255,255,0);
        width: calc(100% + 4px);
        margin-left: -4px;       /* shift the viewer to better align inner text with text of surrounding rows in a catalog */
    }
    .ace-editor {
        background-color: rgba(255,255,255,0.5);
        height: 12em;
    }
}

.TYPE {
    .default|   { color: #888; }
    .info|      { font-style: italic; }
}

.REF {
    .ref-category   { font-size: 80%; padding-left: 6px; opacity:0.7; }
}